{% extends 'base.html.twig' %}

{% block body %}
{% include 'AppBundle:Partials:menu.html.twig' %}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-push-2 col-xs-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Tâches</th>
            <th>Date limite</th>
            <th>Niveau d'importance</th>
            <th>Fait</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          <tr>
             <td>{{ task.nom }}</td>
            <td>{% if task.dateLimite %}{{ task.dateLimite|date('d-m-Y') }}</td>
            <td> {{ task.important.nom }}</td>
            <td>{% if task.fait %}<i class="fa fa-check-square-o" aria-hidden="true"></i>{% else %}<i class="fa fa-times" aria-hidden="true"></i>{% endif %}</td>
            <td><a class="btn btn-link" href="{% if task.fait %}{{ path('task_show_done', { 'id': task.id }) }}{% else %}{{ path('task_show', { 'id': task.id }) }}{% endif %}">Détails de la tâche</a></td>
          </tr>
          {% endif %}{% endfor %}
        </tbody>
      </table>{% if fait == false %}
      <a class="btn btn-link" href="{{ path('task_new') }}">Ajouter une tâche</a>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
